* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --g-button-height: 32px;
  --g-font-size: 14px;
  --g-button-bg: white;
  --g-button-active-bg: #eee;
  --g-border-radius: 4px;
  --g-color: #333;
  --g-border-color: #999;
  --g-border-color-hover: #666;
  --g-disabled: #bbb;
  --g-error: #f00;
}
